:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #7149C6 ;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  text-align: center;
  background-color: #FFDEB9;
  
}


.welcome input{
  margin-left: 0.5rem;
  flex: 1 1 0%;
  min-width: 0;
  outline: none;
  border: none;
  background: none;
  font-size: 1.5rem;
  font-weight: 700;
}

/* outline: when user press on input and it gives it an outline */
.formInput {
  width: 300px;
  border: 1px solid #D8D8D8;
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  outline: none;
}


/* margin bottom: going to determain the space from an element */
.options {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 1.5rem;
}

.options label {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1.5rem;
  background-color: #FC2947;
  border-radius: 0.5rem;
  cursor: pointer;
}

.todo-btn {
  padding: 1rem 1.5rem;
  border-radius: 0.5rem; 
}
/* have a way when you hover over the options lable it changes the button and color */
/* have a way when you hover over the button it change colors */
.options label:hover {
  background-color: #F6F1E9;
}

/* padding can make an element thick */
/* border-radius can make the corners and outline of an element more toned thick in shape */
.todo-item  {
  background-color: #F9F5EB;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

/* here we just add on to our todo-item style */

.todo-item .todo-value {
  flex: 1 1 0%;
}


.todo-item .todo-value input{
  color: #313154;
  font-size: 1.125rem;
}

/* target the todo input so the background or border won't be visble */
.todo-value input[type="text"] {
 border: none;
 background-color: #F9F5EB;
 outline: none;
}

.todo-item .activity button{
  background-color: #FC2947;
  color: white;
}



/* used this to get rid of the orginal radio checkpoint so we can use the bubble */
input[type="radio"],
input[type="checkbox"] {
	display: none;
}

/* this is targetting the bubble to be around the radio checkpoint */
.bubble {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #62CDFF;
  box-shadow: 0px 0px 4px #62CDFF;
}

/* This will target the bubble for the personal option */
.bubble.personal {
  border-color: #B2A4FF;
  box-shadow: 0px 0px 4px #B2A4FF;
}

/* After a user have selected the option */
.bubble::after {
  content: "";
  display: block;
  opacity: 0;
  width: 0px;
  height: 0px;
  background-color: #62CDFF;
  box-shadow: 0px 0px 4px #62CDFF;
  border-radius: 50%;
  transition: 0.2s ease-in-out;
}
/* We have to change the color of the checked circle point when the user selects personal option */
.bubble.personal::after {
  background-color: #B2A4FF;
  box-shadow: #B2A4FF;
}

/* when an option is selected, we will have a smaller bubble to appear and display */
input:checked ~ .bubble::after {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/* we are targetting the text of the options label */
.options label div {
  color: #313154;
  font-size: 1.2rem;
  margin-top: 1.1rem;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}







/* Color Scheme
#7149C6 purple color
#FC2947 red color
#FE6244 orange color
#FFDEB9 tan color*/